/* ---------------Tipografias--------------- */

$fuentePrincipal:'Nunito', sans-serif;
$fuenteSecundaria:'Zen Kaku Gothic Antique', sans-serif;

/* ---------------tamanio fuente--------------- */

$tamanioPrincipal: 50px;


/* ---------------Colores--------------- */

$colorPrincipal: #1d1d1f;
$colorSecundario: #424245;
$colorTerciario:rgb(31, 31, 185);
$colorD:rgb(143, 187, 143);


/* ---------------Background color---------------*/

$backgroundPrimario:#fbfbfd;
$backgroundSecundario: #d2d2d7;


/* desafio op */

$distanciaPadd: 60px;
$tFuente: 10px;

/* desafio II */

$colorH: cte;

